body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

/********************SINGLE PRODUCT STYLES ****************/
.singleProduct{
  display:flex;
  flex-direction:row;
}

.productImageHolder img{
  width:100%;
  height:auto;
}

.productDetails{
  width:20%;
}

.addToCartHolder{
  width:10%;
}
